<div class="container">
  <h1>Wikinimous</h1>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %><br>
        <%= article.content[0..70] %><%= "..." if (article.content.length > 70) %><br>
      </li>
    <% end %>
    <%= link_to 'New', new_article_path(@article)%>
  </ul>
</div>
